# Python cache files
__pycache__/
*.py[cod]

# PyInstaller build
build/
dist/
*.spec

# Mac系统垃圾
.DS_Store

# 虚拟环境
venv/
env/

# Jupyter/IPython历史等
.ipynb_checkpoints/
.history/
*.swp

# 用户自定义的临时文件
*.log
*.tmp
